@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  color-scheme: dark;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  @apply bg-amber-100 text-gray-200;
}
a {
  @apply text-blue-400 hover:text-blue-300;
}
